td {
  padding: 5px;
}

.ArticleList tr:nth-child(even) {
  background-color: #f1f6ff;
}

.ArticleList img {
  height: 75px;
}

.Feed td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px;
  border: 1px solid rgb(223, 218, 244);
}

.Summary {
  display: flex;
  border-top: none !important;
  border-right: none !important;
}

.SummaryTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.SummaryTextContainer h2 {
  padding: 5px 0px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.SummaryTextContainer h2:hover {
  color: #027bc1;
  transition: all 0.3s ease 0s;
}

.PreviewImage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 75px;
  width: 75px;
  min-width: 75px;
  margin-right: 10px;
}

.TagList {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.TagItem {
  font-size: 10px;
  font-weight: 600;
  background-color: #dae2ff;
  color: black;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 7px;
}

.Author,
.WordCount,
.SubmitDate {
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
