td {
  padding: 5px;
}

.ArticleList tr:nth-child(even) {
  background-color: #f6f9ff;
}

.ArticleList img {
  height: 100px;
}

.ArticleList tr {
  border: 1px solid rgb(223, 218, 244);
}

.ArticleList td {
  padding: 10px;
}

.Summary {
  display: flex;
}

.SummaryTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
}

.SummaryTextContainer h2 {
  padding: 5px;
  font-weight: 600;
}

.PreviewImage {
  overflow: hidden;
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-right: 10px;
}

.TagList {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.TagItem {
  font-size: 11px;
  font-weight: 600;
  background-color: #777;
  color: white;
  padding: 4px 8px;
  margin: 2px;
  /*border: 1px solid black;*/
  border-radius: 7px;
}

.Author,
.WordCount,
.SubmitDate {
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
