.Feed {
  width: 90%;
  margin: 15px;
  background-color: white;
  border-spacing: 0px;
  border-collapse: collapse;
}

.FeedHeader {
  background-color: #222;
  color: white;
  font-size: 12px;
  font-weight: 600;
  flex-direction: row;
}

.FeedHeader th {
  font-weight: bold;
  padding: 10px 10px;
  border: 1px solid;
}

.author {
  min-width: 90px;
}

.author i {
  /*padding: 0px 3px;*/
}

.wordCount {
  min-width: 80px;
}

.submitDate {
  min-width: 100px;
}

.sortIcons {
  margin-left: 3px;
}

.sortIcons i {
  font-size: 15px;
  margin-left: 3px;
}

.sortIcons i:hover {
  color: #00FFBF;
}
