.Feed {
  width: 90%;
  margin: 15px;
  background-color: white;
  border-spacing: 0px;
}

.FeedHeader {
  background-color: #222;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.FeedHeader th {
  padding: 10px;
}
