
.sortIcons i {
  font-size: 15px;
  margin-left: 3px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.sortIcons i:hover {
  color: #00FFBF;
  transition: all 0.2s ease 0s;
}

.iconSelected {
  color: #92ffe4;
}

.sortIconButton {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: inherit;
}
